li{
    position: relative;
}
li:hover{
    color: #0aa5e3;
}
li:after{
    content: "";
    position: absolute;
    background-color: #0aa5e3;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}
li:hover:after{
    width: 100%;
}